.paginationCanvas {
  background-color: rgb(30, 30, 30);
  color: rgba(255, 255, 255, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  box-shadow:
    rgba(0, 0, 0, 0.14) 0px 1px 1px,
    rgba(0, 0, 0, 0.12) 0px 2px 1px,
    rgba(0, 0, 0, 0.2) 0px 1px 3px;
  width: 100%;
}

.paginationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  padding: 10px 15px 10px 15px;
}
.paginationPagesizeWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
}

.paginationPagesizeWrapper span,
.paginationPageWrapper span {
  margin-right: 10px;
  font-weight: bold;
  font-size: 1rem;
  min-width: 0;
  height: 100%;
}

.paginationPageWrapper span {
  margin: 0 10px 0 10px;
}

.paginationPagesizeWrapper select {
  width: 20%;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  margin-right: 10px;
}

.paginationPagesizeWrapper select:hover,
.paginationPagesizeWrapper select:focus {
  outline: none;
  border: 1px solid #4caf50;
  cursor: pointer;
}

.paginationPageWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
}

.paginationPageWrapper button {
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Public Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.75;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background-color: rgb(22, 104, 220);
  box-shadow: none;
  font-weight: 400;
}

.paginationPageWrapper button:hover {
  background-color: rgb(47, 128, 241);
}
