#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}
.app {
  display: flex;
  color: #fff;
  background-color: #121212; /* Dark background */
  user-select: none; /* This disables text selection */
  height: 100%;
  width: 100%;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
}
